In [1]:
import pandas as pd
import numpy as np

In [ ]:
datas = pd.date_range('20200101', periods = 6)
df = pd.DataFrame(np.random.randn(6,4), index = datas, columns = ['Var_A', 'Var_B', 'Var_C', 'Var_D'])

In [ ]:
df

               Var_A     Var_B     Var_C     Var_D
2020-01-01  0.420556  0.968431  0.469825 -0.585239
2020-01-02  0.235384 -1.067663  0.201875 -1.489270
2020-01-03 -0.752215  0.877229  0.687353 -1.265405
2020-01-04  0.982737 -1.031349 -0.375279  0.336324
2020-01-05 -0.349067  0.123489  0.509313 -0.777510
2020-01-06  0.534011 -0.640386 -3.186237 -0.758032

In [ ]:
dft = df.T
dft

       2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
Var_A    0.420556    0.235384   -0.752215    0.982737   -0.349067    0.534011
Var_B    0.968431   -1.067663    0.877229   -1.031349    0.123489   -0.640386
Var_C    0.469825    0.201875    0.687353   -0.375279    0.509313   -3.186237
Var_D   -0.585239   -1.489270   -1.265405    0.336324   -0.777510   -0.758032

In [ ]:
df.shape

(6, 4)

In [ ]:
dft.shape

2

In [ ]:
v = dft.values
v

array([[ 0.42055628,  0.23538363, -0.75221548,  0.98273659, -0.34906744,
         0.53401148],
       [ 0.96843066, -1.06766337,  0.87722868, -1.03134903,  0.12348936,
        -0.64038637],
       [ 0.46982488,  0.20187471,  0.68735313, -0.37527908,  0.50931267,
        -3.18623732],
       [-0.58523853, -1.48927001, -1.26540513,  0.3363237 , -0.7775097 ,
        -0.75803231]])

In [ ]:
v.reshape((np.size(v),1))

array([[ 0.42055628],
       [ 0.23538363],
       [-0.75221548],
       [ 0.98273659],
       [-0.34906744],
       [ 0.53401148],
       [ 0.96843066],
       [-1.06766337],
       [ 0.87722868],
       [-1.03134903],
       [ 0.12348936],
       [-0.64038637],
       [ 0.46982488],
       [ 0.20187471],
       [ 0.68735313],
       [-0.37527908],
       [ 0.50931267],
       [-3.18623732],
       [-0.58523853],
       [-1.48927001],
       [-1.26540513],
       [ 0.3363237 ],
       [-0.7775097 ],
       [-0.75803231]])

In [ ]:
# -------------------------------------------------------------------Pivot---------------------------------------------------------------------------------

In [ ]:
dias = pd.date_range('20200101', periods = 12)
dias

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pessoa = ['George', 'Victor', 'Lucas']

In [ ]:
np.random.choice(pessoa)

'Victor'

In [ ]:
nome = []
gasto = []
for i in range(12):
  nome.append(np.random.choice(pessoa))
  gasto.append(np.round(np.random.rand() * 100, 2))
nome

['Victor',
 'Lucas',
 'George',
 'Lucas',
 'George',
 'Victor',
 'George',
 'Victor',
 'Victor',
 'Victor',
 'George',
 'Lucas']

In [ ]:
gasto

[85.31,
 23.13,
 55.32,
 31.7,
 43.24,
 73.88,
 90.73,
 54.04,
 98.75,
 32.83,
 56.02,
 26.52]

In [ ]:
df = pd.DataFrame({'Dia': dias, 'Nome': nome, 'Gasto': gasto})
df

          Dia    Nome  Gasto
0  2020-01-01  Victor  85.31
1  2020-01-02   Lucas  23.13
2  2020-01-03  George  55.32
3  2020-01-04   Lucas  31.70
4  2020-01-05  George  43.24
5  2020-01-06  Victor  73.88
6  2020-01-07  George  90.73
7  2020-01-08  Victor  54.04
8  2020-01-09  Victor  98.75
9  2020-01-10  Victor  32.83
10 2020-01-11  George  56.02
11 2020-01-12   Lucas  26.52

In [ ]:
df.pivot(index = 'Dia', columns= 'Nome', values= 'Gasto')

Nome        George  Lucas  Victor
Dia
2020-01-01     NaN    NaN   85.31
2020-01-02     NaN  23.13     NaN
2020-01-03   55.32    NaN     NaN
2020-01-04     NaN  31.70     NaN
2020-01-05   43.24    NaN     NaN
2020-01-06     NaN    NaN   73.88
2020-01-07   90.73    NaN     NaN
2020-01-08     NaN    NaN   54.04
2020-01-09     NaN    NaN   98.75
2020-01-10     NaN    NaN   32.83
2020-01-11   56.02    NaN     NaN
2020-01-12     NaN  26.52     NaN

In [ ]:
carros = [7, 4, 3, 2, 8]
dias = pd.date_range('20190101','20190101', periods= 5)
vendedor = ['George', 'Vagner', 'Pedro', 'Vagner', 'George']

df = pd.DataFrame({
            'Vendas': carros,
            'Data': dias,
            'Vendedor': vendedor
    })
df

   Vendas       Data Vendedor
0       7 2019-01-01   George
1       4 2019-01-01   Vagner
2       3 2019-01-01    Pedro
3       2 2019-01-01   Vagner
4       8 2019-01-01   George

In [ ]:
pd.pivot_table(df, index = 'Data', columns = 'Vendedor', values = 'Vendas', aggfunc= 'sum')

Vendedor    George  Pedro  Vagner
Data
2019-01-01      15      3       6

In [ ]:
df = pd.read_csv('https://media.geeksforgeeks.org/wp-content/uploads/nba.csv')
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [ ]:
df.shape

(458, 9)

In [ ]:
df_stack = df.stack()
df_stack

0    Name         Avery Bradley
     Team        Boston Celtics
     Number                 0.0
     Position                PG
     Age                   25.0
                      ...
456  Age                   26.0
     Height                 7-0
     Weight               231.0
     College             Kansas
     Salary            947276.0
Length: 4018, dtype: object

In [ ]:
df_stack.unstack()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [2]:
data = {
    "localizacao":['CidadeA', 'CidadeB'],
    "Temperatura" : ["Prevista", "Atual"],
    "Set-2019":[30, 32],
    "Out-2019":[45, 43],
    "Nov-2019":[24, 22]
}
print(data)

{'localizacao': ['CidadeA', 'CidadeB'], 'Temperatura': ['Prevista', 'Atual'], 'Set-2019': [30, 32], 'Out-2019': [45, 43], 'Nov-2019': [24, 22]}

In [ ]:
df = pd.DataFrame(data)
df

  localizacao Temperatura  Set-2019  Out-2019  Nov-2019
0     CidadeA    Prevista        30        45        24
1     CidadeB       Atual        32        43        22

In [ ]:
pd.melt(df, id_vars=['localizacao'], value_vars=['Temperatura', 'Set-2019'])

  localizacao     variable     value
0     CidadeA  Temperatura  Prevista
1     CidadeB  Temperatura     Atual
2     CidadeA     Set-2019        30
3     CidadeB     Set-2019        32

In [ ]:
pd.melt(df, id_vars=['localizacao'], value_vars=['Temperatura', 'Set-2019'], var_name='Var_teste', value_name= 'Nome_do_valor')

  localizacao    Var_teste Nome_do_valor
0     CidadeA  Temperatura      Prevista
1     CidadeB  Temperatura         Atual
2     CidadeA     Set-2019            30
3     CidadeB     Set-2019            32

In [3]:
df = pd.DataFrame(data, columns=['localizacao', 'Temperatura','Set-2019', 'Out-2019', 'Nov-2019'])
print(df)

  localizacao Temperatura  Set-2019  Out-2019  Nov-2019
0     CidadeA    Prevista        30        45        24
1     CidadeB       Atual        32        43        22

In [4]:
df2 = pd.melt(df, id_vars=["localizacao", "Temperatura"], var_name="Data", value_name="Valor")
print(df2)

  localizacao Temperatura      Data  Valor
0     CidadeA    Prevista  Set-2019     30
1     CidadeB       Atual  Set-2019     32
2     CidadeA    Prevista  Out-2019     45
3     CidadeB       Atual  Out-2019     43
4     CidadeA    Prevista  Nov-2019     24
5     CidadeB       Atual  Nov-2019     22

In [5]:
df2 = pd.melt(df, id_vars=["localizacao"], var_name="Data", value_name="Valor")
print(df2)

  localizacao         Data     Valor
0     CidadeA  Temperatura  Prevista
1     CidadeB  Temperatura     Atual
2     CidadeA     Set-2019        30
3     CidadeB     Set-2019        32
4     CidadeA     Out-2019        45
5     CidadeB     Out-2019        43
6     CidadeA     Nov-2019        24
7     CidadeB     Nov-2019        22